
.img{
    margin-bottom: rem(30px);
    height: rem(350px);
    width: auto;
    object-fit: contain;
    border-radius: rem(5px);

    @media (max-width: $mantine-breakpoint-sm) {
        max-width: 100%;
        height:rem(250px);
      }
}

.notIA{
  color: var(--mantine-color-green-3);
}